h1
{
    text-align: center;
    font-size: 100px;
}
#links
{
    margin-top:15%;
    text-align: center;
}

form
{
    text-align:center;
}
#users
{
    text-align: center;
}

#buttons
{
	padding-right:80%;
}