h1
{
    text-align: center;
    font-size: 100px;
}
#links
{
    margin-top:15%;
    text-align: center;
}

form
{
    text-align:center;
}
#users
{
    text-align: center;
}

#buttons
{
	padding-right:80%;
}
table.table-bordered tr td{
    padding: 0px;
    font-size:10px;
}
@media print {
    tr.pagebreak{
    page-break-before: always;
    display: block;
    }
}


